@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
  --bg: #0b0b0c;
  --bg2: #151516;
  --accent: #c8ff3d;
  --primary-txt: #ffffff;
  --scnd-txt: #a7a7a7;
  --bordr: #2a2a2b;
  --shadow: 0 0 25px rgba(200, 255, 61, 0.18);
  --radius: 4px;
}

* { margin:0; padding:0; box-sizing:border-box; }

html { overflow-x: hidden;}

body {
  font-family: 'Inter', sans-serif;
  background: url(../assets/images/bg3.webp) center / cover no-repeat; width: 100%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  
}
body.active { overflow: hidden; overscroll-behavior: none;}

.hamburger-effect { overflow: hidden;}


.overlay { position: absolute; z-index: 50; height: 100vh; width: 100vw; display: none; /*background-color: rgba(255,255,255,0.2); backdrop-filter: blur(3px);*/}
.overlay.active { display: block;}
.overlay.blurred {backdrop-filter: blur(2px);}

.lightbox { position: absolute; z-index: 100; width: 100%; max-width: 300px; color: var(--accent);
 background-color: var(--bg); display: none; justify-content: center; align-items: center;}
.lightbox.active { display: flex;}

.qr-section { margin: 20px 0; background: rgba(255,255,255,0.05); padding: 16px; border-radius: 16px; border: 1px dashed rgba(200,255,61,0.3); display: none;}
.qr-section img { border-radius: 12px; background: white; padding: 6px; }
.qr-section p { font-size: 12px; color: #888; margin-top: 8px; }
.qr-section.active {display: block;}

.upi-qr { margin: 20px 0; background: rgba(255,255,255,0.05); padding: 16px; border-radius: 16px; border: 1px dashed rgba(200,255,61,0.3); display: none;}
.upi-qr img { border-radius: 12px; background: white; padding: 6px; }
.upi-id { font-size: 12px; color: var(--scnd-txt); margin-top: 8px; display: flex; justify-content: center; align-items: center; gap: 10px;}
button.cpy {padding: auto; background: none; border: none; color: var(--accent); font-size: 16px;}
.upi-qr.active { display: block;}

.card { width: 100%; max-width: 400px; height: 100vh; background: var(--bg); display: grid;}

button { cursor: pointer;}

.print-opt {display: none;}

.header { display: grid;}

.nav { background-color: white; color: black; position: absolute; display: none; flex-direction: column; box-shadow: var(--shadow); z-index: 100; margin-top: 3px; font-size: 14px;}
.nav span { padding: 5px 20px; border-bottom: 1px solid black; cursor: pointer;}
.nav i { padding-left: 10px;}
.nav.active { display: flex;}

.hamburger { position: absolute; width: 30px; padding: 20px; background: none; border: none; display: flex; flex-direction: column; gap: 4px;}
.hamburger .dot { width: 5px; height: 5px; background-color: white; border-radius: 50%;}

.brand { display: flex; align-items: center; gap: 10px; font: 700 20px "Space Grotesk"; justify-self: center;  margin: 20px auto 10px;}
.brand-logo { display: grid; place-items: center; width: 34px; height: 34px; border: 1px solid var(--accent); border-radius: 10px;}
.brand-name {color: var(--primary-txt); font-size: 26px;}
.brand-name span {color: lime;}

.about { text-align: center; margin-bottom: 20px;}
.profile { display: flex; flex-direction: column; align-items: center;}
.avatar { width: 120px; height: 120px; border-radius: 50%; border: 3px solid var(--accent); }
.qr-btn { position: relative; left: 12%; top: -24px; font-size: 18px; background: black; border: none; border-radius: 3px; padding: 0 3px;
color: white; border: 1px dashed var(--accent); padding: 0 5px;}
.about .name { margin-top: -15px; font-size: 28px;}
.name span {color: var(--primary-txt);}
.occupation { border: 1px solid var(--accent); font-size: 12px; width: 175px; margin: 10px auto 20px; border-radius: 5px;}
.work { margin: 4px 0; padding: 0 20px; font-size: 14px; color: var(--scnd-txt);}
.work span { color: var(--accent);}

.contact-actions { display: flex; gap: 25px; justify-content: center;}
.btn { background: #0b0b0c; border-radius: 50%; color: #c8ff3d; text-decoration: none; font-weight: 700; font-size: 20px; display: flex; justify-content: center;}
/*.btn-primary { background: #0b0b0c; color: #c8ff3d; }*/

.info-list { display: flex; flex-direction: column; gap: 12px; margin: auto; width: 100%; max-width: 300px;  margin-top: 50px;}
.info-list i {margin-right: 10px; margin-left: 50px;}
.info-list a {margin-left: 10px; color: var(--scnd-txt);}


.action-btns { display: flex; flex-direction: column; margin: 10% 10%; gap: 30px;}


.save { background-color: var(--accent); padding: 10px 0; border: none; border-radius: var(--radius); box-shadow: var(--shadow);}

.save:hover { box-shadow: none; transition-delay: 0.3s;}


.footer { position: relative; left: 0; bottom: 0; width: 100%; font-size: 8px; background-color: #0b0b0c; color: #ccc; padding: 10px; border-top: 1px solid var(--accent); display: flex; justify-content: center; align-items: center;}

.print-out {background-color: white !important; font-size: 10px; color: var(--accent);-webkit-print-color-adjust: exact !important; print-color-adjust: exact !important;}
.card-front{ width: 100%; max-width: 350px; height: 200px; aspect-ratio: 3.5 / 2;
  display: grid; align-items: start; border-bottom: 1px solid var(--accent);
   border-radius: 5px; margin-bottom: 30px;}
.card-front .bg-img { border-radius: 5px; object-fit: cover; object-position: center; z-index: 100;}
.card-front .container { width: 350px; height: 200px; background-color: none; z-index: 200; position: relative; top: -200px; display: flex; justify-content: center; align-items: center;}
.card-front .print-logo { z-index: 300; object-position: center;}
.print-website {z-index: 300;  top: -250px; position: relative; background-color: transparent; padding: 5px; font-size: 14px; text-align: center; color: var(--primary-txt);}

.card-rear { width: 100%; max-width: 350px; height: 200px; aspect-ratio: 3.5 / 2; background-color: var(--bg2) !important; border-top: 1px solid var(--accent) !important; padding: 20px; border-radius: 5px; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 1fr 1fr; row-gap: 20px; -webkit-print-color-adjust: exact !important; print-color-adjust: exact !important;}
.print-profile { grid-column: 1 / 3;}
.print-name { font-size: 20px; margin-bottom: 5px;}
.print-name span {color: var(--primary-txt)}
.print-work { font-size: 8px; margin-top: 8px;}
.print-avatar { justify-self: flex-end;}
.print-avatar img { border: 2px solid var(--accent); border-radius: 50%;}
.print-contact { grid-column: 1 / 3; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 5px;}
.print-contact i { margin-right: 5px;}
.print-qr { justify-self: flex-end;}

.print-out { display: none;}

@media print { 
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body { background: white;}
  .digital { display: none;}
  .print-out { display: block; background: var(--bg2) !important; border: 1px solid var(--bordr) !important;}
}