/*==========
Reset Style
=========*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
}

/*===========
Varaibles List
=========*/

:root {
    --brnd-col: #800080;
    --header-bg: #fff;
    --prime-bg: #f4e6fa;
    --scnd-bg: #fff;
    --txt-col1: #000000;
    --text-col2: #595959;
    --hover-col: #800080;
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
}


/*=============
Overlay screen
============*/

.overlay {
    display: none;
}

.overlay.active {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 400;
    background: transparent;
}

/*======
Header
=====*/

header.site-header {
    background-color: var(--header-bg);
    width: 100vh;
    font-family: var(--font-heading);
    z-index: 100;
    /*position: sticky;*/
}

.nav-bar {
    width: 95%;
    margin: 0 auto;
    color: var(--txt-col1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    color: var(--brnd-col);
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-menu {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: absolute;
    height: 100vh;
    width: 0;
    top: 0;
    right: -100%;
    z-index: 500;
    background-color: var(--header-bg);
}

.nav-list {
    position: relative;
}

.nav-link {
    position: relative;
    color: var(--text-col2);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition-property: color, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.nav-link:hover, .nav-link.active {
    color: var(--brnd-col);
    transform: scale(1.08);
}

.nav-link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: var(--brnd-col);
    bottom: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease 0.1s;
    z-index: 500;
}

.nav-link:hover::after, .nav-link.active::after {
    width: 100%;
}

.nav-menu.active {
    width: 80%;
    right: 0;
    box-shadow: -30px 0 90px rgba(0,0,0,0.4);
}


/*=========
Hamburger
=======*/

.hamburger {
    position: relative;
    right: 1rem;
    display: flex;
    height: 3rem;
    width: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: transparent;
    padding: 0;
    border: none;
    z-index: 1000;
    cursor: pointer;
}

.hamburger .bar {
    background-color: var(--txt-col1);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.hamburger.active .bar {
    width: 3rem;
    height: 0.25rem;
    background-color: var(--text-col2);
}

.hamburger.active .bar:nth-of-type(2) {
    display: none;
}

.hamburger.active .bar:first-of-type {
    transform: rotate(45deg) translateY(0.4rem);
}

.hamburger.active .bar:last-of-type {
    transform: rotate(-45deg) translateY(-0.4rem);
}


/*====
Main
===*/

main#main {
    flex: 1;
    background-color: var(--prime-bg);
}

/*=============
Desktop screen
============*/

@media (min-width: 765px) {
    .nav-bar {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--txt-col1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: auto;
        width: auto;
    }
}